.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #d8d8d8;
}

.navbar_container h1 {
  margin: 0;
}

.navbar_coloumn2 span {
  font-family: 'Chivo', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar_container {
    flex-direction: column;
    align-items: flex-start;
  }
}
