.products-container {
  background-color: #f2f4f7;
  height: 100%;
}

.product-wrapper,
.products-nav {
  margin: 0 30px;
}

@media (min-width: 554px) and (max-width: 1024px) {
  .product-wrapper,
  .products-nav {
    margin: 0 50px;
  }
}

@media (min-width: 1025px) and (max-width: 2600px) {
  .product-wrapper,
  .products-nav {
    align-content: center;
    margin: 0 70px;
  }
}
/* if snappiness doesnt look right - update the margin */
