.button_container {
  font-family: 'Chivo', sans-serif;
  font-weight: lighter;
  color: #292929;
  font-size: 14px;
  border: none;
  text-align: center;
}
button:hover {
  cursor: pointer;
}
.button_container:focus {
  outline: none;
}
.button_container:disabled {
  opacity: 0.2;
  cursor: default;
}
/* primary theme  */
.button_primary {
  height: 41px;
  width: 139px;
  background-color: #5e97d1;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
}
.button_primary:hover {
  background-color: #407fc0;
}
/* secondary theme  */
.button_secondary-minus {
  width: 95px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_secondary-add {
  width: 95px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .button_secondary-add:hover svg stroke {
  stroke: "#D8D8D8";
  color: red;
} */

.button_secondary-minus:hover,
.button_secondary-add:hover {
  background-color: #5e97d1;
}

/* .button_secondary-add:hover svg {
  fill: orange !important;
  stroke: brown !important;
} */

/* textLink theme  */
.button_textLink {
  display: flex;
  text-transform: none;
  background: none;
  padding: 0;
}
.button_textLink {
  text-decoration: none;
}
.button_textLink svg {
  margin-top: 15px;
  height: 13.54px;
  width: 17px;
  margin-right: 8px;
}
.button_textLink svg {
  height: 13.54px;
  width: 17px;
  margin-right: 8px;
}

.button_textLink svg path {
  fill: #292929;
}

.button_textLink:hover,
.button_textLink:hover svg path {
  fill: #407fc0;
  color: #407fc0;
}

/* .button_textLink:disabled {
  opacity: 0.2;
  cursor: default;
} */
